.quiz-container {
	padding: 20px;
	max-width: 800px;
	margin: 30px auto 0 auto;
	background-color: #f9f9f9;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.quiz-container h1 {
	font-size: 2.5rem;
	margin-bottom: 20px;
	color: #333;
}

.question {
	font-size: 1.4rem;
	margin-bottom: 20px;
}

.answers {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.answer-btn {
	padding: 10px 20px;
	margin: 10px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.answer-btn:hover {
	background-color: #45a049;
}

.answer-btn:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

.timer {
	font-size: 1.2rem;
	font-weight: bold;
	color: #ff4500;
	margin-bottom: 15px;
}
